* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid orange;
}

button,
input {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: 1px solid white;
  cursor: pointer;
  transform: scale(1.2);
}
